/* for google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


:root {
    --primary-color: #cc0000;
    --secondary-color: #ff9900;
    --text-color: #4d4d4d;
    --main-border: #f2f2f2;

    /* for fonts */
    --large: 1.2rem;
    --medium: 1rem;
    --normal: .7rem;
    --small: .5rem;
}

* {
    box-sizing: border-box;
    font-optical-sizing: auto;
    font-family: "Nunito", sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}